@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500&family=JetBrains+Mono:wght@400;500&display=swap");

:root {
  --bg: #0d0d0f;
  --surface: #13131a;
  --card: #1e1e2e;
  --accent: #00e5c0;
  --purple: #7f6af8;
  --text: #e2e2e8;
  --muted: #8888a0;
  --border: #2a2a38;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Geist", sans-serif;
  position: relative;
  z-index: 2;
}

h1,
h2,
h3,
.logo,
.card--name {
  font-family: "JetBrains Mono", monospace;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #72716f; /* Opcional: define uma cor personalizada para a linha */
}

.main--content {
  margin: 3em 2em;

  display: flex;
  justify-content: space-around;
}

.h3--projects {
  margin-left: 7em;
}
