.header--section {
  margin: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.2em 1em;
}

/*lado esquerdo*/

.header--name-text {
  color: #fff;
}

/*meio*/

.header--links {
  display: flex;
  gap: 2em;
}

.header--link {
  color: #fff;
  cursor: pointer;
}

/*lado direito*/

.header--contact-link {
  color: #fff;
  cursor: pointer;
  padding: 0.5em 1em;
  background-color: #7000bb;
  box-shadow: 3px 3px 3px 0.2em #1a0022;

  border: 1px solid #fff;
  border-radius: 3em;
}

.header--contact-link.active {
  padding: 0.8em 1.3em;
  box-shadow: 3px 3px 3px 0.2em #ffd000;
}
