@keyframes pulse-animation {
  0% {
    color: var(--accent);
  }
  100% {
    color: #2cb19b;
  }
}

.about-me--section {
  width: 40%;
}

.about-me--icon {
  animation: pulse-animation 2s infinite;
  transition: color 0.3s ease-in-out;
}

.about-me--button {
  background-color: #2ca08d;
  border: 2px solid #005f4f;
  color: var(--accent);

  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  padding: 0.6em 1.2em;
  font-size: 1em;
  cursor: pointer;
  border-radius: 3em;
}

.about-me--h1 {
  font-family: "JetBrains Mono", monospace;
  font-size: 40px;
  font-weight: 500;
  color: var(--text);
}

.about-me--accent {
  color: var(--accent);
}

.about-me--h2 {
  font-family: "Geist", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--purple);
}

.about-me--p {
  font-family: "Geist", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  color: var(--muted);
}

.about-me--links--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.about-me--links {
  display: flex;
  padding: 1em 2em;
  border: 1px solid var(--border);
  border-radius: 1em;
  background-color: var(--surface);
  color: var(--muted);
  cursor: pointer;
  text-decoration: none;
}

.about-me--links:hover {
  background-color: #fff;
  color: var(--surface);
}
